body {
  background-color: #1e1e1e;
}

h1 {
  color: rgb(239, 255, 150);
  text-align: left;
  font-family: "Courier New" , monospace; 
  padding-left: 30px;
  
}


p.text {
  font-family: "Consolas", monospace;
  font-size: 14px;
  padding-left: 30px;
  color: rgb(239, 255, 150);
}